<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div class="bg-gray-100 section-xxs text-center" id="copyrights-footer" th:fragment="copyrights-footer">
        <div class="container">
            <div class="row row-30 align-items-lg-center">
                <div class="col-lg-3 text-lg-start"><a th:href="@{home}"><img th:src="@{images/logo-footer-133x31.png}"
                                                                              src="../static/images/logo-footer-133x31.png"
                                                                              alt="" width="133" height="31"/></a></div>
                <div class="col-lg-6 text-lg-center">
                    <p class="rights"><a id="footerCopy"></a><a
                            class="text-decoration-underline" href="privacy-policy.html" id="footerPrivacy"></a></p>
                </div>
                <div class="col-lg-3 text-lg-end">
                    <div class="social-block-footer">
                        <ul class="list-inline">
                            <li><a class="icon fa-facebook" href="#"></a></li>
                            <li><a class="icon fa-twitter" href="#"></a></li>
                            <li><a class="icon fa-google-plus" href="#"></a></li>
                            <li><a class="icon fa-vimeo" href="#"></a></li>
                            <li><a class="icon fa-youtube" href="#"></a></li>
                            <li><a class="icon fa-pinterest-p" href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>
